# Ignore OpenAPI generator folders
.openapi-generator/
api/
docs/
gradle/
.github/

# Ignore OpenAPI/Gradle config files
.gradle/
build/
target/
out/
.openapi-generator-ignore
.travis.yml
settings.gradle
build.gradle
build.sbt
gradlew
gradlew.bat
gradle.properties
git_push.sh

# Ignore IntelliJ IDEA / Eclipse / VSCode project files
*.iml
.idea/
.vscode/
.project
.classpath
.settings/

# Mac system files
.DS_Store

# Maven specific
.mvn/
